<h1>Topico: {{ topico.nome }}</h1>
    <p>
[<a href="{{ path('aspe_edit_topico', {'codigo': topico.codigo}) }}">{{ 'Edit'|trans({}, 'AcmeBlogBundle') }}</a>]
[<a href="{{ path('aspe_delete_topico', {'codigo': topico.codigo}) }}">{{ 'Delete'|trans({}, 'AcmeBlogBundle') }}</a>]
[<a href="{{ path('aspe_get_topicos') }}">{{ 'Back'|trans({}, 'AcmeBlogBundle') }}</a>]