{% block content %}
<h1 class="title">{{ 'Lista de Usuarios'|trans({}, 'AcmeBlogBundle') }}</h1>

<ul codigo="perfil-list">
	{% for perfil in perfis %}
	<li><a
		href="{{ path('api_1_get_perfil', {'codigo': perfil.codigo}) }}">{{ perfil.nome }}</a> 
		{#[<a href="{{ path('api_1_edit_perfis', {'codigo':perfil.codigo}) }}">{{ 'perfil.edit.link'|trans({}, 'AcmeBlogBundle')
		}}</a>]#} {#[<a href="{{ path('api_1_remove_perfis', {'codigo': perfil.codigo})
		}}">{{ 'perfil.remove.link'|trans({}, 'AcmeBlogBundle') }}</a>]#}</li>
	{% else %}
	<li>{{ 'Perfil.list.empty'|trans({}, 'AcmeBlogBundle') }}</li> {%
	endfor %}
</ul>
<p>
	<a href="{{ path('api_1_new_perfil') }}">{{
		'perfil.new.link'|trans({}, 'AcmeBlogBundle') }}</a>
</p>
{% endblock %}
