<h1>Curso: {{ curso.nome }}</h1>
    <p>
[<a href="{{ path('aspe_edit_curso', {'codigo': curso.codigo}) }}">{{ 'Edit'|trans({}, 'AcmeBlogBundle') }}</a>]
[<a href="{{ path('aspe_delete_curso', {'codigo': curso.codigo}) }}">{{ 'Delete'|trans({}, 'AcmeBlogBundle') }}</a>]
[<a href="{{ path('aspe_get_cursos') }}">{{ 'Back'|trans({}, 'AcmeBlogBundle') }}</a>]