{% block content %}
<h1 class="title">{{ 'Lista de Cursos'|trans({}, 'AcmeBlogBundle') }}</h1>

<ul codigo="curso-list">
	{% for curso in curso %}
	<li><a
		href="{{ path('aspe_get_curso', {'codigo': curso.codigo}) }}">{{ curso.nome }}</a> 
		{#[<a href="{{ path('aspe_edit_perfis', {'codigo':curso.codigo}) }}">{{ 'curso.edit.link'|trans({}, 'AcmeBlogBundle')
		}}</a>]#} {#[<a href="{{ path('aspe_remove_perfis', {'codigo': curso.codigo})
		}}">{{ 'curso.remove.link'|trans({}, 'AcmeBlogBundle') }}</a>]#}</li>
	{% else %}
	<li>{{ 'Curso.list.empty'|trans({}, 'AcmeBlogBundle') }}</li> {%
	endfor %}
</ul>
<p>
	<a href="{{ path('aspe_new_curso') }}">{{
		'Novo Curso'|trans({}, 'AcmeBlogBundle') }}</a>
</p>
{% endblock %}
