{% block content %}
    <h1 class="title">{{ 'Lista de Usuarios'|trans({}, 'AcmeBlogBundle') }}</h1>

    <ul id="usuario-list">
        {% for usuario in usuarios %}
            <li>
                <a href="{{ path('aspe_get_usuario', {'matricula': usuario.matricula}) }}">{{ usuario.nome }}</a>
                {#[<a href="{{ path('aspe_edit_pages', {'id': page.id}) }}">{{ 'page.edit.link'|trans({}, 'AcmeBlogBundle') }}</a>]#}
                {#[<a href="{{ path('aspe_remove_pages', {'id': page.id}) }}">{{ 'page.remove.link'|trans({}, 'AcmeBlogBundle') }}</a>]#}
            </li>
        {% else %}
            <li>{{ 'Usuario.list.empty'|trans({}, 'AcmeBlogBundle') }}</li>
        {% endfor %}
    </ul>
    <p>
        <a href="{{ path('aspe_new_usuario') }}">{{ 'usuario.new.link'|trans({}, 'AcmeBlogBundle') }}</a>
    </p>
{% endblock %}