<h1>Dados de {{ usuario.nome }}</h1>
    <p>
Matrícula: {{ usuario.matricula }}
    </p>
    <p>
Data de Nascimento: {{ usuario.dataNasc }}
    </p>
    <p>
CPF: {{ usuario.cpf }}
    </p>
    <p>
E-Mail: {{ usuario.email }}
    </p>
    <p>
Telefone: {{ usuario.telefone }}
    </p>
    <p>
Telefone Celular: {{ usuario.telefoneCelular }}
    </p>
    <p>
Perfil: {{ usuario.getPerfil }}
    </p>
[<a href="{{ path('aspe_edit_usuario', {'matricula': usuario.matricula}) }}">{{ 'Edit'|trans({}, 'AcmeBlogBundle') }}</a>]
[<a href="{{ path('aspe_delete_usuario', {'matricula': usuario.matricula}) }}">{{ 'Delete'|trans({}, 'AcmeBlogBundle') }}</a>]
[<a href="{{ path('aspe_get_usuarios') }}">{{ 'Back'|trans({}, 'AcmeBlogBundle') }}</a>]