<h1>Ementa: {{ ementa.codigo }}</h1>
Disciplina: <p>{{ ementa.getDisciplina }}</p>
Topico: <p>{{ ementa.getTopico }}</p>
    <p>
[<a href="{{ path('aspe_edit_ementa', {'codigo': ementa.codigo}) }}">{{ 'Edit'|trans({}, 'AcmeBlogBundle') }}</a>]
[<a href="{{ path('aspe_delete_ementa', {'codigo': ementa.codigo}) }}">{{ 'Delete'|trans({}, 'AcmeBlogBundle') }}</a>]
[<a href="{{ path('aspe_get_ementas') }}">{{ 'Back'|trans({}, 'AcmeBlogBundle') }}</a>]